<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Acerca de</title>
</head>
<body>

<h1>Información de la clase</h1>

<p>Curso: Desarrollo de Aplicaciones Web Avanzado</p>
<p>Profesor: Ricardo Coello</p>
<p>Fecha: {{date}}</p>

</body>
</html>